body {
background: url(http://i650.photobucket.com/albums/uu221/Matt_Zager/maxresdefault_zpsuwebophu.jpg);
}

h1, h3 {
color: yellow;
text-align: center;
font-size: 3em;
font-family: 'Open Sans', sans-serif;
}

h1 {
margin-bottom: 1px;
}

h3 {
margin-top: 1px;	
}

.container{
height: auto;
max-width: 600px;
margin: 30px auto;
background-color: white;
padding-top: 10px;
padding-bottom: 10px;
}

.buttonContainer{
height: auto;
max-width: 600px;
margin: 40px auto;
display: flex;
justify-content: space-between;
}

.hide{
display: none;
}

p {
width: 80%;
font-size: 15px;
margin-right: auto;
margin-left: auto;
font-family: 'Open Sans', sans-serif;
}

.button {
width: 120px;
font-size: 1.25em;
display: none;
margin-right: auto;
margin-left: auto;	
}



@media screen and (max-width: 500px){
	p {
font-size: 20px;
	}
}